
/*Los prefijos -webkit y -moz se colocan para que enuestro código sea compatible con las diferentes versiones de los navegadores*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: courier;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0; /*Otorgamos margin y padding con valor 0*/
  
}



/*Declaramos el header de manera fija con un z-index igual a 1000 para que se superponga sobre lo demás*/
header {
  background-color: #fff;
  left:80px;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
 
}


/*Declaramos la altura para nuestro logo de pinterest*/
.menu img{
  height: 25px;
  width:25px;
 
}

/*Ponemos de modo inline-block a nuestro menú y sub mebú*/
.menu, .sub-menu {
  display: inline-block;
}

.menu {

display: inline-block;
margin: 0;
width: 100%;
}

/*Alineamo los iconos del header*/
.menu .icon-user, .icon-bubble, .icon-menu {
  
  color: #b5b5b5;
  font-size: 20px;
  margin-left: 40px;
  
}


#search  {
  display: inline-block;
  height: 60px;
  margin: 0px;
  padding:5px 0px 5px 0px;
  text-align: right;
  width:900px;
}

/*Damos formato a nuestro input text*/
input{
  border-radius: 5px;
  background-color: #efefef;
  margin:0px;
  padding:5px 0px 5px 0px;
  width:80%;
  
}


hr {
  margin-bottom: 0;
}

/*Declaramos la fuente para nuestro submenu*/
.sub-menu {
  font-size: 16px;
  padding-bottom: 0;
  width: 100%;
  
}


.sub-menu div {
  border-radius: 8px;
  display: inline-block;
  height: 60px;
  margin: 5px 10px;
  position: relative;
  
}

/*Le quitamos el list-style a la lista desordenada y centramos el contenido*/
.sub-menu ul div li {
   color: #fff;
   font-weight:bold;
   height: 50%;
   list-style:none;
   position: relative;
   text-align: center;
   transform: translateY(50%);
   
   
}

/*Declaramos la clase del boton con una imagen de fondo*/
.buttom {
  
  background-image:url(../assets/images/buttom.jpg); 
  background-repeat: no-repeat;
  width: 8%;
}

/*El main tendrá el contenido de cada clase column */
main {
  left: 45px;
  margin: 0px;
  padding:0px 20px 0px 20px;
  position: relative;
  top:140px;
  width: 100%;
 
  
  
}

/*La clase column contenrá cada columna de 3 fotos*/
.column{
  width: 18%;
  float: left;
  margin:0px 5px 0px 5px;
  padding:0px;
  
}

.column figure img {
  border-radius: 20px;
  width: 100%;
  
}

figure a {
text-decoration: none;
color: #000;
}

h4{
  display:inline-block;
}

.text p{
  width:100%;
  margin-top: 10px;
  text-align:left;
}
.icon-pushpin, .icon-checkmark {
  font-size: 10px;
  color:#686868;
}


/*Colocaremos la inicial de nuestro usuario en esta clase*/
.circle {
  
  background-color:#d597a1;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  top:4px;
  padding:2px 6px;
}
/*Colocaremos el nombre de nuestro usuario en esta clase*/
.user-name  {
  position: relative;
  top: 6px;
  font-weight: bold;
}

.hashtag {
  display: block;
  position: relative;
  left: 35px;
  z-index: inherit;
}